<% layout('layouts/boilerplate.ejs') %>
<div class="row">
  <h3 class="text-center mb-3">New Campground</h3>
  <div class="col-md-6 offset-md-3">
    <div class="card shadow">
      <div class="card-body">
        <form
          action="/campgrounds"
          method="POST"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              id="title"
              name="campground[title]"
              class="form-control"
              autofocus
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              class="form-control"
              id="location"
              name="campground[location]"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="price">Camp Price</label>
            <div class="input-group">
              <span class="input-group-text" id="price-label">$</span>
              <input
                type="text"
                class="form-control"
                id="price"
                name="campground[price]"
                placeholder="0.00"
                aria-label="price"
                aria-describedby="price-label"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              class="form-control"
              id="description"
              name="campground[description]"
              required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="form-file mb-3">
            <label for="image" class="form-label">Images</label>
            <input
              class="form-control"
              type="file"
              id="image"
              name="image"
              multiple
            />
          </div>

          <div class="mb-3">
            <button class="btn btn-success w-100 mt-2">Add Campground</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
